* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Open Sauce";
  src: url(./fonts/OpenSauceOne-Regular.ttf);
}

@font-face {
  font-family: "Open Sauce Semi-bold";
  src: url(./fonts/OpenSauceOne-SemiBold.ttf);
}

body {
  /* color: #ff7b00; */
  background-image: url(./img/wolfgang-hasselmann--onyyYPmRR0-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  font-family: "Open Sauce";
}

.container {
  display: flex;
  width: 85%;
  height: 42vmax;
  background-color: transparent;
  backdrop-filter: blur(4px) brightness(145%);
  margin: auto;
  gap: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-wrap: wrap;
}

h1 {
  font-family: "Open Sauce Semi-bold";
  font-size: 10vmin;
  width: 0.0625rem;
  line-height: 1.05;
}

p {
  margin-top: 1.5em;
  font-size: 1.6vmax;
  line-height: 1.5;
  width: 35vw;
}

.info,
section {
  margin: 0 auto;
  width: inherit;
  width: 45%;
}

.icons {
  margin-top: 4em;
  width: 15%;
  height: 4vh;
  color: #000;
}

hr {
  width: 95%;
  border: 0.5px solid #000;
}

.bio {
  line-height: 2.5;
  text-decoration: none;
  color: #000;
  font-size: 1.5vmax;
}

.icons.md.hydrated {
  margin-top: 1.5em;
}
